## Assignment 1: Import a CSV file and perform basic operations on it

In [12]:
!python3 -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 4.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sarveshmac/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 31.2 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 70.0 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 64.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.3.3 pytz-2025.2 tzdata-2025.3
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [19]:
import pandas as pd;
import numpy as np;

In [16]:
df = pd.read_csv("temperature.csv")

In [17]:
df.head()

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
0,474376,1,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
1,474377,2,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
2,474378,3,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
3,474379,4,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
4,474380,5,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48470 entries, 0 to 48469
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   record_id                          48470 non-null  int64
 1   month                              48470 non-null  int64
 2   day                                48470 non-null  int64
 3   year                               48470 non-null  int64
 4   AverageTemperatureFahr             47541 non-null  float64
 5   AverageTemperatureUncertaintyFahr  47541 non-null  float64
 6   City                               47986 non-null  object
 7   country_id                         47986 non-null  object
 8   Country                            47986 non-null  object
 9   Latitude                           48470 non-null  object
 10  Longitude                          48470 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 4.1+ MB

In [20]:
df.replace("NA", np.nan, inplace=True)

In [26]:
df["AverageTemperatureFahr"] = pd.to_numeric(df["AverageTemperatureFahr"])
df["AverageTemperatureUncertaintyFahr"] = pd.to_numeric(
    df["AverageTemperatureUncertaintyFahr"]
)

df.head(20)

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
0,474376,1,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
1,474377,2,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
2,474378,3,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
3,474379,4,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
4,474380,5,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
5,474381,6,1,1853,51.9062,36.9572,Auckland,NEW,New Zealand,36.17S,175.03E
6,474382,7,1,1853,52.3886,34.5488,Auckland,NEW,New Zealand,36.17S,175.03E
7,474383,8,1,1853,52.8530,33.5498,Auckland,NEW,New Zealand,36.17S,175.03E
8,474384,9,1,1853,52.5776,33.6380,Auckland,NEW,New Zealand,36.17S,175.03E
9,474385,10,1,1853,54.8726,33.9836,Auckland,NEW,New Zealand,36.17S,175.03E
10,474386,11,1,1853,56.6888,34.2518,Auckland,NEW,New Zealand,36.17S,175.03E
11,474387,12,1,1853,59.8460,37.5062,Auckland,NEW,New Zealand,36.17S,175.03E
12,474388,1,1,1854,64.5908,36.2300,Auckland,NEW,New Zealand,36.17S,175.03E
13,474389,2,1,1854,65.3720,35.6576,Auckland,NEW,New Zealand,36.17S,175.03E
14,474390,3,1,1854,64.9688,35.3966,Auckland,NEW,New Zealand,36.17S,175.03E
15,474391,4,1,1854,59.9270,35.2022,Auckland,NEW,New Zealand,36.17S,175.03E
16,474392,5,1,1854,57.5042,34.5110,Auckland,NEW,New Zealand,36.17S,175.03E
17,474393,6,1,1854,54.5180,34.7972,Auckland,NEW,New Zealand,36.17S,175.03E
18,474394,7,1,1854,53.1914,35.0240,Auckland,NEW,New Zealand,36.17S,175.03E
19,474395,8,1,1854,52.8044,34.3544,Auckland,NEW,New Zealand,36.17S,175.03E

In [27]:
mean_temp = df["AverageTemperatureFahr"].mean()
mean_temp

np.float64(51.755134296712306)

In [30]:
median_temp = df["AverageTemperatureFahr"].median()
median_temp

np.float64(54.5936)

In [28]:
min_temp = df["AverageTemperatureFahr"].min()
max_temp = df["AverageTemperatureFahr"].max()

min_temp, max_temp

(np.float64(2.85619999999999), np.float64(84.6554))

In [29]:
df["AverageTemperatureFahr"].isnull().sum()

np.int64(929)